.cont {
  display: flex;
  align-items: flex-start;
  padding: 10px 10px 0px;
  background-color: var(--color-purple-back);
}

.label {
  min-height: 30px;
  font-size: 0.8em;
  margin-top: 2px;
}

.input_cont {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.text {
  font-family: inherit;
  font-size: 0.8em;
  resize: vertical;
  margin: 0px 10px;
}

.err_border {
  border-color: var(--color-err);
}