.cont {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-purple-back);
}

.opts {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.opts__input_and_msg_cont {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.opts__input_cont {
  display: flex;
  align-items: center;
  padding-bottom: 7px;
}

.opts__btn_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opts__num {
  min-width: 60px;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--color-purple-light);
  border-radius: var(--border-radius);
  color: var(--color-purple-dark);
  margin: 0px 10px;
  text-align: center;
  font-size: 30px;
  user-select: none;
}

.opts__btn {
  border-radius: var(--border-radius);
  padding: 4px;
  margin: 2px;
  cursor: pointer;
}

.right_cont {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.matrix_cont {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex: auto;
  margin-bottom: 25px;
}

.matrix_center_cont {
  width: 65%;
  display: flex;
}

.matrix__sides {
  min-width: 10px;
  align-self: stretch;
  border-color: var(--color-purple);
  border-width: 5px;
}

.left {
  border-style: solid none solid solid;
}

.right {
  border-style: solid solid solid none;
}

.matrix__cell {
  font-family: inherit;
  font-size: 1em;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.err {
  border-color: var(--color-err);
  background-color: var(--color-err-lightest);
}

.opts__btn:hover {
  background-color: var(--color-white-dark);
}

.opts__btn:active {
  background-color: var(--color-white-darkest);
}